<h1>Student 데이터 삽입</h1>

<form name="student" method="post" action="/">
  <div>
    <label for="id">Id</label>
    <input id="id" name="id" type="text" required placeholder="Id" />
  </div>
  <div>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" placeholder="Name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" name="email" type="text" placeholder="Email" />
  </div>
  <div>
    <label for="phone_number">Phone_number</label>
    <input
      id="phone_number"
      name="phone_number"
      type="text"
      placeholder="Phone_number"
    />
  </div>
  <div>
    <label for="major">Major</label>
    <input id="major" name="major" type="text" placeholder="Major" />
  </div>
  <div>
    <label for="student_id">Student_Id</label>
    <input
      id="student_id"
      name="student_id"
      type="text"
      required
      placeholder="Student_ID"
    />
  </div>
  <div>
    <label for="did">Did</label>
    <input id="did" name="did" type="text" required placeholder="Did" />
  </div>
  <div>
    <input type="submit" value="삽입" />
  </div>
</form>

<br /><br />

<h1>Room 데이터 삽입</h1>
<form id="room" method="post" action="/">
  <div>
    <label for="id">Id</label>
    <input id="id" name="id" type="text" required placeholder="id" />
  </div>
  <div>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" required placeholder="Name" />
  </div>
  <div>
    <label for="capacity">Capacity</label>
    <input id="capacity" name="capacity" type="text" placeholder="Capacity" />
  </div>
  <div>
    <label for="bid">Bid</label>
    <input id="bid" name="bid" type="text" required placeholder="Bid" />
  </div>
  <div>
    <label for="did">Did</label>
    <input id="did" name="did" type="text" required placeholder="Did" />
  </div>
  <div>
    <input type="submit" value="삽입" />
  </div>
</form>

<br /><br />

<h1>Building 데이터 삽입</h1>
<form id="building" method="post" action="/">
  <div>
    <label for="id">Id</label>
    <input id="id" name="id" type="text" required placeholder="Id" />
  </div>
  <div>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" required placeholder="Name" />
  </div>
  <div>
    <input type="submit" value="삽입" />
  </div>
</form>